DJANGO_DEBUG=True
SECRET_KEY=
DATABASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_VERSION=v20.0
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app
